#img-review-column p {
	font-size: 25px;
}

a {
	font-size: 30px;
	color: black;
}

#remove-tag-button {
	font-size: 13px;
	color: white;
	background-color: black;
}

#style-content li {
	font-size: 25px;
}

h3 {
	font-size: 30px;
}

a {
	text-decoration: none;
}

a:hover {
	color: white;
}

body {
	background: url(./images/beer.jpg) no-repeat fixed;
	background-size: cover;
}

img {
	height: 250px;
	width: 350px;
}

h2 {
	font-size: 60px;
}

.container {
	background-color: #DDDCDA;
}

* {
	font-family: 'Raleway', sans-serif;
}

header {
	border-bottom: 1px solid black;
}

h1 {
	font-size: 85px;
	color: black;
}

footer p {
	font-size: 25px;
}

ul {
	list-style-type: none;
}

#style-list a {
	font-size: 60px;
}